.gallery-container {
    width: 100%;
    padding: 1em 0;
}
.gallery-container .gallery-media-container {
    width: 100%;
    columns: 4;
    gap: 1em;
}
.gallery-container .gallery-media-container img {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    transition: transform 0.2s; 
}
.gallery-container .gallery-media-container img:hover {
    cursor: pointer;
    z-index: 2;
    transform: scale(1.1) translate3d(0, 0, 0);
}

#gallery-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(0.5em);
    backdrop-filter: blur(0.5em);
    z-index: 9;
    opacity: 1;
    transition: opacity 0.2s, display 0.2s allow-discrete; 
}
#gallery-modal-container:not(.open) {
    opacity: 0;
    display: none;
}
#gallery-modal-container #gallery-modal-wrapper {
    width: 100%;
    height: 100%;
    max-width: 1024px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#gallery-modal-container #gallery-modal-close-button,
#gallery-modal-container #gallery-modal-slider-prev-button,
#gallery-modal-container #gallery-modal-slider-next-button {
    font-size: 1em;
    display: block;
    width: 3em;
    height: 3em;
    padding: 0.5em;
    margin: 0;
    color: #F2F2F2;
    background-color: #1B7979;
    border: none;
    z-index: 9;
    transform: translate(0, 0);
    transition: background-color 0.2s, transform 0.2s 0.2s, opacity 0.2s 0.2s, display 0.4s allow-discrete;
}
#gallery-modal-container #gallery-modal-close-button.hidden,
#gallery-modal-container #gallery-modal-slider-prev-button.hidden,
#gallery-modal-container #gallery-modal-slider-next-button.hidden {
    display: none;
    opacity: 0;
}
#gallery-modal-container:not(.open) #gallery-modal-close-button {
    transform: translate(0, -50%);
}
#gallery-modal-container:not(.open) #gallery-modal-slider-prev-button {
    transform: translate(-50%, 0);
}
#gallery-modal-container:not(.open) #gallery-modal-slider-next-button {
    transform: translate(50%, 0);
}
#gallery-modal-container #gallery-modal-close-button .icon,
#gallery-modal-container #gallery-modal-slider-prev-button .icon,
#gallery-modal-container #gallery-modal-slider-next-button .icon {
    display: block;
    width: 2em;
    height: 2em;
}
#gallery-modal-container #gallery-modal-close-button:hover,
#gallery-modal-container #gallery-modal-slider-prev-button:hover,
#gallery-modal-container #gallery-modal-slider-next-button:hover {
    background-color: #2a9b9d;
    cursor: pointer;
}
#gallery-modal-container #gallery-modal-close-button {
    position: absolute;
    top: 1em;
}
#gallery-modal-container #gallery-modal-slider-prev-button {
    position: absolute;
    left: 1em;
}
#gallery-modal-container #gallery-modal-slider-next-button {
    position: absolute;
    right: 1em;
}
#gallery-modal-container #gallery-modal-media-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 0.2s;
}
#gallery-modal-container #gallery-modal-media-container img {
    display: block;
    object-fit: contain;
    max-width: 90%;
    max-height: 90%;
}
#gallery-modal-container:not(.open) #gallery-modal-media-container {
    transform: scale(0.5);
}


/* MOBILE */
@media screen and (max-width: 768px) {
    .gallery-container {
        padding: 0;
    }
    .gallery-container .gallery-media-container {
        columns: 2;
        padding: 0;
    }

    #gallery-modal-container #gallery-modal-close-button {
        top: 0;
    }
    #gallery-modal-container #gallery-modal-slider-prev-button {
        left: 0;
    }
    #gallery-modal-container #gallery-modal-slider-next-button {
        right: 0;
    }
    #gallery-modal-container #gallery-modal-media-container img {
        max-width: 100%;
        max-height: 100%;
    }
}


/* STARTING STYLE */
@starting-style {
    #gallery-modal-container {
        opacity: 0;
    }
    #gallery-modal-container #gallery-modal-media-container {
        transform: scale(0.5);
    }
    #gallery-modal-container #gallery-modal-close-button,
    #gallery-modal-container #gallery-modal-slider-prev-button,
    #gallery-modal-container #gallery-modal-slider-next-button {
        opacity: 0;
    }
    #gallery-modal-container #gallery-modal-close-button {
        transform: translate(0, -50%);
    }
    #gallery-modal-container #gallery-modal-slider-prev-button {
        transform: translate(-50%, 0);
    }
    #gallery-modal-container #gallery-modal-slider-next-button {
        transform: translate(50%, 0);
    }
}